*{
    background-color: #ffffff;
    overflow-x: hidden;
}

/*hero page*/

.head{
    background-image: url('../assets/background/1.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.head .navigation{
    background-color: transparent;
}
.hero {
    /* Sizing */
    height: 90vh;
    background-color: transparent;

    /* Flexbox stuff */
    display: flex;
    
    align-items: center;
  
    
    /* Background styles */
  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

.hero h2{
    color: #A27B5C;
    font-size: 4em;
    text-align: left;
    font-weight: bold;
    background-color: transparent;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    font-family: 'Lora', serif;
    font-weight: bold;
    overflow: hidden;
    
 
}
.hero h3{
    font-family: 'Ms Madi', cursive;
    font-size: 7vh;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;

}
.hero h5{
    color: #7F8487;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}
.hero h6{
    color: #8d8d8d;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
}
.navbar{
    position: absolute;
}
.head .navbar .nav-item{
    margin: 7px;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.head .navbar .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #A27B5C;
    transition: width .3s;
}

.head .navbar .nav-item:hover::after {
    width: 100%;
    transition: width .3s;
}
.navbar .navbar-nav a:hover{
   color: #A27B5C;
   border-bottom: #A27B5C;
}

.navbar .navbar-nav .home{
    animation: movedown 1s linear;
   
}
.navbar .navbar-nav .about{
    animation: movedown 1.2s linear;
}
.navbar .navbar-nav .project{
    animation: movedown 1.4s linear;
}
.navbar .navbar-nav .article{
    animation: movedown 1.6s linear;
}
.navbar .navbar-nav .contact{
    animation: movedown 1.8s linear;
}
@keyframes movedown{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}


#sub-titles{
    text-align: center;
    color: black;
    font-family: 'Combo', cursive;
    font-weight: bold;
    background-color: transparent;
}
.profile img{
    clip-path: circle();
    width: 70%;
}


/*skills*/



.services .box{
    border: #A27B5C 3px solid;
    border-radius: 3rem;
    opacity: 0.5;
}
.services .box{
    display: inline-block;
   
}
.services .box .text{

    position: relative;
    text-align: justify;
    opacity: none;
    color: black;
}
.text h3{
    background-color: transparent;
    font-size: 2vh;
    color: rgb(0, 0, 0);
}
.text h3 span{
    background-color: #e6e1e1;
    border-radius: 10px;
   
}

.text .soft-skills ul li{
    padding:5px;
    font-size: 1.7vh;
    list-style-type: square;
    
}
.services .content h1{
    font-size: 6vh;
    font-family: 'Lora', serif;
    font-weight: 500;
    color: #000000;
}
.services .content p{
    font-size: 2vh;
    color: #8d8d8d;
}
.services .content button{
   background-color: #d3b59c;
   border-color: #d3b59c;
   color: #000;
}

.services .content button:hover{
    background-color: #A27B5C;
    border-color: #A27B5C;
    color: #e6e1e1;
 }
 .services .content button:focus{
    background-color: transparent;
    box-shadow: transparent;
    
 }
/*projects*/
.projects .project-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: #A27B5C;
}
.projects .language{
    color: #7F8487;
}
.projects .project-content{
    border-left: 3px solid #A27B5C;
    font-family: 'Lora', serif;
}
.projects .project-content span{
    background-color: #e6e1e1;
    border-radius: 3px;
    font-weight: bold;
}
.projects button{
    background-color: #8d8d8d;
    border-color: #8d8d8d;
    color: white;
}
.projects button:hover{
    background-color: #A27B5C;
    border-color: #A27B5C ;
}

/*Articles*/

 .article-slider{
    width: 100vw;
    white-space: nowrap;
    background-size: cover;
    overflow-x: scroll;
    overflow-x: scroll;
    background-color: transparent;
    

}


 .article-slider .article-card{
  
    position: relative;
    display: inline-block;
    border-color: #000 solid 2px;
    background-color: #f7f1f1;
    border-radius: 10px;
    width: 30%;
    
  
 }
 .article-slider .article-card img{
  
    border-radius: 10px;
  
 }
.article-slider .article-card .text{
    white-space: normal;
    background-color: transparent;
    
}

.article-slider .article-card button{
    background-color: #8d8d8d;
    border-color: #8d8d8d;
}

.article-slider .article-card button:hover{
    background-color: #A27B5C;
    border-color: #A27B5C ;
}

.article-slider .article-card h4{
    color: #000000;
}

.article-slider .article-card .hashtag{
    font-size: 1.7vh;
    color: #A27B5C;
    border-radius: 3px;
}

.article-slider .article-card .date{
    font-size: 1.5vh;
    color: #7F8487;
}
.article-slider .article-card .time{
    font-size: 1.5vh;
    color: #7F8487;
}


/*contact*/


.contact .contain{
   padding: 10px;
   
    background: rgb(239, 239, 239);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
   }
.contact .contain img{
    border-radius: 10px;
}
.contact .contain p{
background-color: transparent;
}

.contact input{
    width: 100%;
    border-radius: 5px;
    height: 5vh;
    border: 1px solid #d3b59c;
}
.contact textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d3b59c;
}
.contact input:focus,textarea:focus{
    outline: 2px solid #A27B5C;  
}

.contact .contain button:hover{
    color: #ffffff;
}


/*footer*/

.profile .profile-upper{
    background-image: url('/assets/background/6.png');
    background-size: cover;
    width: 100vw;
}

.profiles p{
    text-align: justify;
}
.profile hr{
  
    height: 2vh;
    align-self: center;
}
.profile .cycle{
    background-color: #F3F1F5;
    height: 6vh;
    width: 6vh;
    clip-path: circle();
}
.profile .cycle:hover{
    background-color: #A27B5C;
    
}
.profile .cycle .fa:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3.5vh;
}
.profile .cycle .fa{
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 3.5vh;
}
.profile .footer p{
    text-align: center;
}

.horizontal-rule{
    height: 0.5vh;
    width: 15vh;
    background-color: gray;
}
/* responsive */
@media only screen and (max-width:1200px){
    .head{
        background-image: url('../assets/background/4n-1.png');
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .hero h1{
        font-size: 3em;
    }
   .hero h2{
    font-size: 2em;
   }

   .article-slider .article-card{

    width: 100%;
    
  
 }
  

    
}